.vscode
/data/
/deployment/


**/.dockerignore
**/.env*
**/.gitignore
**/.gitlab-ci.yml
**/environment.sh
**/compose.yml
**/docker-compose*.yml
**/Makefile
**/README.md

**/node_modules/
**/dist/
**/build/

**/.prettierignore
**/.prettierrc
**/Dockerfile
**/eslint.config.js

**/package-lock.json
**/pnpm-lock.yaml
