[Unit]
Description=Capture Kreditozrouti backups every four hours

[Timer]
OnCalendar=*-*-* 00,04,08,12,16,20:35:00
Persistent=true
AccuracySec=1min
Unit=kreditozrouti-backup.service

[Install]
WantedBy=timers.target
