services:

  # ================================================================ #
  # API SERVICE

  api:
    image: diar-4fis-api

    build:
      context: ../..
      dockerfile: ../../api/Dockerfile

    # volumes:
    #   - api-uploads-volume:/usr/src/uploads

    depends_on:
      - mysql
      - redis

    environment:
      - ENV=production
      - API_PORT=80
      - API_DOMAIN=${DOMAIN}
      - API_ALLOWED_ORIGINS=https://${DOMAIN}
      - API_SESSION_SECRET=${API_SESSION_SECRET}
      - API_FILE_DESTINATION=/usr/src/uploads
      - MYSQL_URI=${MYSQL_URI}
      - REDIS_URI=${REDIS_URI}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - CLIENT_URI=https://${DOMAIN}

    networks:
      - traefik-network
      - mysql-network
      - redis-network

    # ports:
    #   - 80:80

    labels:
      - traefik.enable=true
      - traefik.http.routers.${PROJECT}-api.rule=Host(`${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.${PROJECT}-api.entrypoints=websecure
      - traefik.http.routers.${PROJECT}-api.tls=true
      - traefik.http.routers.${PROJECT}-api.tls.certresolver=letsencrypt
      - traefik.http.services.${PROJECT}-api.loadbalancer.server.port=80

      - traefik.http.routers.${PROJECT}-api.middlewares=diar-4fis-api-stripprefix,diar-4fis-api-redirect-www
      - traefik.http.middlewares.${PROJECT}-api-stripprefix.stripprefix.prefixes=/api
      - traefik.http.middlewares.${PROJECT}-api-redirect-www.redirectregex.regex=^https://www\.(.*)
      - traefik.http.middlewares.${PROJECT}-api-redirect-www.redirectregex.replacement=https://$${1}

    deploy:
      mode: replicated
      replicas: 2

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      resources:
        limits:
          cpus: 1
          memory: 1024M

    restart: unless-stopped
  
  # ================================================================ #
  # SCRAPER SERVICE

  scraper:
    image: diar-4fis-scraper

    build:
      context: ../..
      dockerfile: ../../scraper/Dockerfile

    depends_on:
      - redis

    environment:
      - ENV=production
      - REDIS_URI=${REDIS_URI}
      - REDIS_PASSWORD=${REDIS_PASSWORD}

    networks:
      - redis-network

    deploy:
      mode: replicated
      replicas: 5

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      resources:
        limits:
          cpus: 0.5
          memory: 512M

    restart: unless-stopped

  # ================================================================ #
  # FRONTEND SERVICE

  frontend:
    image: diar-4fis-frontend

    build:
      context: ../..
      dockerfile: ../../frontend/Dockerfile

    depends_on:
      - api

    environment:
      - ENV=production

    networks:
      - traefik-network

    # ports:
    #   - 80:80

    labels:
      - traefik.enable=true
      - traefik.http.routers.${PROJECT}-frontend.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.${PROJECT}-frontend.entrypoints=websecure
      - traefik.http.routers.${PROJECT}-frontend.tls=true
      - traefik.http.routers.${PROJECT}-frontend.tls.certresolver=letsencrypt
      - traefik.http.services.${PROJECT}-frontend.loadbalancer.server.port=45173

      - traefik.http.routers.${PROJECT}-frontend.middlewares=diar-4fis-frontend-stripprefix,diar-4fis-frontend-redirect-www
      - traefik.http.middlewares.${PROJECT}-frontend-stripprefix.stripprefix.prefixes=/
      - traefik.http.middlewares.${PROJECT}-frontend-redirect-www.redirectregex.regex=^https://www\.(.*)
      - traefik.http.middlewares.${PROJECT}-frontend-redirect-www.redirectregex.replacement=https://$${1}

    deploy:
      mode: replicated
      replicas: 3

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      resources:
        limits:
          cpus: 1
          memory: 512M

    restart: unless-stopped

  # ================================================================ #
  # MYSQL DATABASE

  mysql:
    image: mysql:9.5.0

    volumes:
      - mysql-data-volume:/var/lib/mysql

    environment:
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}

    networks:
      - mysql-network

    # ports:
    #   - 3306:3306

    deploy:
      mode: global

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      resources:
        limits:
          cpus: 1
          memory: 2048M

    restart: unless-stopped

  # ================================================================ #
  # PHPMYADMIN INTERFACE

  phpmyadmin:
    image: phpmyadmin

    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
      - PMA_PORT=3306
      - PMA_USER=${MYSQL_USER}
      - PMA_PASSWORD=${MYSQL_PASSWORD}

    # ports:
    #   - 80:80

    labels:
      - traefik.enable=true
      - traefik.http.routers.${PROJECT}-phpmyadmin.rule=Host(`${DOMAIN}`) && PathPrefix(`/phpmyadmin`)
      - traefik.http.routers.${PROJECT}-phpmyadmin.entrypoints=websecure
      - traefik.http.routers.${PROJECT}-phpmyadmin.tls=true
      - traefik.http.routers.${PROJECT}-phpmyadmin.tls.certresolver=letsencrypt
      - traefik.http.services.${PROJECT}-phpmyadmin.loadbalancer.server.port=80

      - traefik.http.routers.${PROJECT}-phpmyadmin.middlewares=${PROJECT}-phpmyadmin-stripprefix,${PROJECT}-phpmyadmin-redirect-www
      - traefik.http.middlewares.${PROJECT}-phpmyadmin-stripprefix.stripprefix.prefixes=/
      - traefik.http.middlewares.${PROJECT}-phpmyadmin-redirect-www.redirectregex.regex=^https://www\.(.*)
      - traefik.http.middlewares.${PROJECT}-phpmyadmin-redirect-www.redirectregex.replacement=https://$${1}

    deploy:
      mode: global

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      resources:
        limits:
          cpus: 0.5
          memory: 512M

    restart: unless-stopped

  # ================================================================ #
  # REDIS CACHE

  redis:
    image: redis:8.4.0-alpine

    command: [
      "--save", "20", "1",
      "--loglevel", "warning",
      "--requirepass", "${REDIS_PASSWORD}"
    ]

    networks:
      - redis-network

    # ports:
    #   - 6379:6379

    deploy:
      mode: global

      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

      rollback_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        monitor: 60s
        max_failure_ratio: 0.3
        order: stop-first

      resources:
        limits:
          cpus: 0.5
          memory: 512M

    restart: unless-stopped
