.vscode

/data/
/deployment/

.dockerignore
.env*
.gitignore
.gitlab-ci.yml
deployment.sh
docker-compose*.yml
Makefile
README.md

node_modules/
dist/
build/
bruno/

.prettierignore
.prettierrc
Dockerfile
eslint.config.js

package-lock.json
pnpm-lock.yaml
