{
    "trailingComma": "none",
    "printWidth": 240,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-prisma"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"]
}
